.primeiracor{
    color: white;
  }
  
  .segundacor{
    color: white;
  }
  
  .terceiracor{
    color: white;
  }
  
  .aluno{
    color: white;
  }
  
  .data{
    color: white;
  }
  
  .turma{
    color: white;
  }

  body {
    background-color: #000000;
  }
  
  title {
    color: white;
  }
  
  h1{
    color: white;
  }

  h2{
    color: white;
  }
  
  .atvdapostila{
    color: white;
  }
